body
{
	color: green;
	text-align: center;
	font-family: "Arial";
}
#cajita
{
	width: 70%;
	padding: 1em;
	text-align: left;
	border: 1px solid #DDD;
	margin: 0 auto;
}

#cajita h1
{
	font-size: 80px;
}